code.php,
pre.php {
  background-color: #333;
  color: #eee;
  font-weight: normal;
  font-style: normal;
}

.php .default,
.php .default .constant {
  color: #eee;
  font-weight: normal;
  font-style: normal;
}
.php .number {
  color: #39c;
  font-weight: normal;
  font-style: normal;
}
.php .constant {
  color: #eee;
  font-weight: normal;
  font-style: italic;
}
.php .setget {
  color: #cc6;
  font-weight: normal;
  font-style: normal;
}
.php .variable,
.php .variable .number,
.php .variable .keyword {
  color: #a7a;
  font-weight: normal;
  font-style: normal;
}
.php .static {
  color: #cc6;
  font-weight: normal;
  font-style: normal;
}
.php .keyword {
  color: #c93;
  font-weight: bolder;
  font-style: normal;
}
.php .string,
.php .string .number,
.php .string .constant,
.php .string .setget,
.php .string .variable,
.php .string .static,
.php .string .keyword {
  color: #393;
  font-weight: normal;
  font-style: normal;
}
.php .docblock,
.php .docblock .number,
.php .docblock .constant,
.php .docblock .setget,
.php .docblock .variable,
.php .docblock .static,
.php .docblock .keyword,
.php .comment,
.php .comment .number,
.php .comment .constant,
.php .comment .setget,
.php .comment .variable,
.php .comment .static,
.php .comment .keyword {
  color: #6c6;
  font-weight: normal;
  font-style: normal;
}

/*# sourceMappingURL=php-default-dark.css.map */
